.jumbotron{
    background-color: 	#eedf51;
    color: white;
    margin:  0;
}
.top1{
    opacity : 1;
    background-color: #1B3A3F;

}

.aa{    
    width: 200px;
    height: 120px;
    object-fit: cover;
    opacity: 1;
    background-size: cover;

}

.fim{

    height: auto;
    width: 100%;
    left: 0;
    bottom: 0;
    width: 100%;
    bottom: 0;
    left: 0;
}
body{
    font: arial,helvetica;
    background: linear-gradient(#eed121	, #eedf51);
    background-image: url("../img/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.cor1{
    background-color: #5DBCD2;
    font-size: 16px;
    color: black;
    
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.cor2{
    color: royalblue;
    /* text-shadow: 0 0 10px #000000; */ 
}

@font-face {
    font-family: signika;
    src: url(../fonts/Signika-Semibold.otf)
}


.sti{
    font-family: signika;
    color: #ffffff;
    text-shadow: 0 0 3px #000000;
}


/* Estilização do Card-Group */
#menu {
    padding: 50px 10px;
}

.card {
    box-shadow: 2px 5px 20px #777;
    width: 300px;
    height: 440px;
}

.modal-content {
    background:#21ddfb;
}

.mn {
    color:#fff;
}

/* Fim da estilização do Card-Group */

/* Sobre nós começo */
.text-block {
    position: absolute;
    bottom: 20px;
    background-color: #1B3A3F;
    color: white;
    width: 100%;
    padding: 10px;    
  }
  .container {
    position: relative;
    font-family: Arial;
  }
 /* Sobre nós final */

@font-face{
    font-family: Proxima;
    src: url(../fonts/proxima.ttf);
}

 /* Matriculas começo */

.ab {
    bottom: 20px;
    background-image: url("../img/phone.jpg");
    filter: blur(5);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    width: 100%;
    height: 50%;
    padding: 10px;
    font-family:  Proxima, Verdana; 
    font-size: 31px;
  }
 
  .att{
    background-image: url("../img/phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2);
    float: left;
}

.divide{
    width: 50%;
    float: left;
}
.divide2{
    background-color: #5DBCD2;
    width: 50%;
}
 /* Matriculas final */

 .tc1{
     color: #1B3A3F;
 }

.tm1{
    width: 95%;
    height: 95%;
}

.top4{
    background-color: #5DBCD2;
}
.ta4{
    width: 100%;
    height: 50%;
}
.ta5{
    width: 100%;
    height: 400px;
   
}

figcaption, small{
    font-weight: bold;
}

figcaption , small{
  color: #1B3A3F;

}
.h3cor{
    color: #ffffff;
}



 /* Ensino Infantil */
 .top2{
    opacity : 1;
    background-color: #eed121;
}
.top3{
    opacity : 1;
    background-color: #1B3A3F;
}

.fo1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sh{
    box-shadow: 2px 5px 20px #777;
}

.imgaj1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
}

 /* Fim do ensino Infantil */

 .hr1{
     background-color: #eed121;
 }

 
  textarea{
    height:200px;
 
  }

  #hackaton{
    max-width:100%;
    height:auto;
    float:left;
    /*margin-right distancia do txt para a img*/
  }
  #GP{
    width: 304px;
    height:220px;
    float: right;
  
  }

  
  
  #demo {
    height:100%;
    position:relative;
    overflow:hidden;
  }
  
  
  .green{
    background-color:#6fb936;
  }
          .thumb{
              margin-bottom: 30px;
          }
          
          .page-top{
              margin-top:85px;
          }
  
     
  img.zoom {
      width: 100%;
      height: 200px;
      border-radius:5px;
      object-fit:cover;
   
  }
 
